{% load static %}
<div class="col-lg-5 px-0">
    <div class="row mx-0">
        {% for post in posts %}
        <div class="col-md-6 px-0">
            <div class="position-relative overflow-hidden" style="height: 250px;">
                <img class="img-fluid w-100 h-100" src="{{post.featured_image.url}}"
                    style="object-fit: cover;">
                <div class="overlay">
                    <div class="mb-2">
                        <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                            href="">{{ post.category }}</a>
                        <a class="text-white" href=""><small>{{ post.published_at|date:"M d, Y" }}</small></a>
                    </div>
                    <a class="h6 m-0 text-white text-uppercase font-weight-semi-bold" href="">
                        {{ post.title }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
        
        
    </div>
</div>